.filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 1px 6px 0px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.active {
  border: 1px solid var(--accent-color);
}
